#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.accordion-container {
  text-align: left;
  border: 1px solid #a09d9d;
  width: fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-item {
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  transition: transform ease-in .3s;
}

.rotate {
  transform: rotate(180deg);
}


.item-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.item-content {
  font-size: .8rem;
  font-weight: 400;
  color: #888;
}